*{
     padding: 0px;
     margin: 0px;
}
#xyz{
     background-color: burlywood;
     height: 100vh;
     width: 1000px;
     /* display: flex;   Project <br/> */
     display: flex;
     flex-wrap: wrap;
     grid-auto-columns: minmax (15rem, auto);
     /* grid-template-rows:  30px 30px; */
     /* grid-template-columns: 160px 160px 160px 160px; */
     /* grid-row: auto;
     grid-column: auto; */
     grid-template-rows: 200px 200px;
     align-content: start;
     grid-template-areas: 
     "b1 b2 b3 b4"
     "b1 b2 b3 b4";

}

.abcd{
     height: 150px;
     width: 220px;
     background-color: dodgerblue;
     border-radius: 5px;
     border: 1px solid dodgerblue;
     border-left: 8px solid darkmagenta;
     margin: 5px;
     padding: 0px;
}
p{
     font-size: 12px;
}

.woah{
    background-color: lightgreen;
     border: 1px solid lightgreen;
     
     border-radius: 5px;
        
     width: 230px;
     
     height: 230px;
         
     margin:10px;
     padding: 10px;
}

